<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="animal" class="org.example.Animal">
        <!-- <constructor-arg value="21" name="age" index="0"></constructor-arg> -->
        <!--<constructor-arg ref="mouth_class" index="1"></constructor-arg> -->

    </bean>

    <bean id="mouth_class" class="org.example.Mouth">
    </bean>

</beans>