<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="animal" class="org.example.Animal">
        <property name="age" value="25"></property>
        <property name="mouth1" ref="mouth_class"></property>

    </bean>

    <bean id="mouth_class" class="org.example.Mouth">
    </bean>

</beans>